*{
    padding: 0% 1%;
}
button.btn-warning{
    border-radius: 50px;
     background-color: white;
     color: #fd4902;
    border:#fd4902  solid 0.5px;
    font-size: 21px;
    padding: 5px 30px;
    margin-left: 10px;
    
}
button.login.btn.btn-warning:hover{
    color:#bb3804;
    border:#F14402  solid  0.5px;
    background-color: rgb(255, 236, 236);
}

button.signup.btn.btn-warning{
    border-radius: 50px;
     background-color: #01499A;
     color: #ffffff;
    border: white solid;
    border:#ffffff solid;
    font-size: 21px;
    padding: 5px 30px;
    
}
button.btn.btn-warning:hover{
    border:#ffffff solid;
    background-color: #01346e;
}

.bg-body-tertiary.navbar.navbar-expand-lg.navbar-light {
    --bs-bg-opacity: 1;    
    background-color: rgb(255, 255, 255) !important;
    
    
}

.iconsNavbar:hover{
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
    }

.logo{
    margin-top: -40px;
   
}

/*Home page*/

.welcomeIntro{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}
.welcomeIntro>h1{
    width: 50%;
   
    margin-top: 10px;
}
.welcomeIntro>img{
    width: 50%;
    border-radius: 50px;
}


