button.btn-warning{
    border-radius: 50px;
     background-color: white;
     color: #fd4902;
    border: white solid;
    border:#fd4902 solid;
    font-size: 21px;
    padding: 5px 30px;
    margin-left: 10px;
    
}
button.login.btn.btn-warning:hover{
   

    color:#bb3804;
    border:#F14402 solid;
    background-color: rgb(238, 238, 238);
}

button.signup.btn.btn-warning{
    border-radius: 50px;
     background-color: #01499A;
     color: #ffffff;
    border: white solid;
    border:#ffffff solid;
    font-size: 21px;
    padding: 5px 30px;
    
}
button.btn.btn-warning:hover{
   

    
    border:#ffffff solid;
    background-color: #01346e;

    
}